header section{

    justify-content:space-between;
    align-items:center;
 
     
 }

 header nav ul{
     display:flex;
     flex-direction: row;
     list-style: none;
     align-items:center;
 
 }
 header nav ul li{
     margin:0 15px ;
     color:rgb(119, 7, 95);
     
 }
