.sobre-web-desing{
    align-items: center;
}

.sobre-web-desing article h1{
    font-size:70px;
    line-height:90%;
    font-weight: 400;
    color:rgb(1, 6, 80);
    
}
.sobre-web-desing article h2{
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(2, 2, 133);
}
.sobre-web-desing article p{
    color:rgb(5, 98, 175);
    margin:10px 0 30px ;
}
